.ai-chat-container {
  position: relative;
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.1s ease-out;
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-wrapper:hover {
  box-shadow:
    0 10px 40px rgba(0, 0, 60, 0.25),
    inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.background-blur-balls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 3.2rem;
  height: 3.2rem;
  z-index: -10;
  border-radius: 0.9rem;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.balls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: rotate-background-balls 10s linear infinite;
}

.ai-chat-container:hover .balls {
  animation-play-state: paused;
}

.background-blur-balls .ball {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  border-radius: 50%;
  filter: blur(10px);
}

.background-blur-balls .ball.violet {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9147ff;
}

.background-blur-balls .ball.green {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #34d399;
}

.background-blur-balls .ball.rosa {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #ec4899;
}

.background-blur-balls .ball.cyan {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #05e0f5;
}

.content-card {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  border-radius: 0.9rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.background-blur-card {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  position: relative;
}

.eyes {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  gap: 0.4rem;
  transition: opacity 0.3s ease;
}

.eyes.hidden {
  opacity: 0;
}

.eyes .eye {
  width: 7px;
  height: 14px;
  background-color: #fff;
  border-radius: 4px;
  animation: animate-eyes 10s infinite linear;
  transition: all 0.3s ease;
}

.eyes.happy {
  display: flex;
  color: #fff;
  gap: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.eyes.happy.visible {
  opacity: 1;
}

.eyes.happy svg {
  width: 18px;
}

@keyframes rotate-background-balls {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
}

@keyframes animate-eyes {
  46% {
    height: 14px;
  }
  48% {
    height: 5px;
  }
  50% {
    height: 14px;
  }
  96% {
    height: 14px;
  }
  98% {
    height: 5px;
  }
  100% {
    height: 14px;
  }
}
